/* ------------Home------------ */

.home-body {
    background-color: black;
}

.home-container {
    display: grid;
    justify-content: center;
    width: 750px;
    min-height: 105rem;
    background-color: #ffffff;
    margin: 5rem auto;
    font-family: sans-serif;
    padding: 24px;
}

.home-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-header-first {
    /* margin-left: 6rem; */
}

.home-header-h1 {
    margin-bottom: 0;
    font-size: 3rem;
}

.home-header-p {
    margin-top: 0;
    font-size: 1.3rem;
    color: #676767;
}

.home-header-button {
    background-color: #ee2375;
    color: white;
    border-radius: 25%;
    padding: 0 0.5rem;
    /* font-weight: bold; */
    right: 0;
    /* margin-left: auto; */
    /* margin-right: 2.6rem; */
    text-align: center;
    align-items: center;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.home-header-button>a {
    color: white;
    font-size: 30px;
}

.home-header-plus:link {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
}

.home-first-ul {
    display: grid;
    gap: 24px;
    justify-content: center;
    grid-template-columns: repeat(2, 18rem);
    grid-auto-rows: minmax(100px, auto);
    /* margin-left: 5rem; */
    width: 100%;
    padding: 0;
}

.home-first-li {
    display: inline-block;
    background-color: white;
    border: solid white 2px;
    box-shadow: 0px 0px 8px 5px #e6e4e470;
    border-radius: 5%;
    padding: 12px 18px;
    padding-right: 0;
    /* margin-right: 1rem; */
    position: relative;
    font-size: 1.4rem;
    width: 96%;
}

.home-first-li-strong {
    font-size: 1.9rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.home-color-dot {
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

.home-blue-dot {
    background-color: #42aafd;
    right: 10px;
    top: 10px;
}

.home-aqua-dot {
    background-color: #01bacc;
    right: 10px;
    top: 10px;
}

.home-purple-dot {
    background-color: #cd42fd;
    right: 10px;
    top: 10px;
}

.home-red-dot {
    background-color: #ee2375;
    right: 10px;
    top: 10px;
}

.home-line {
    display: inline-block;
    height: 2px;
    width: 80%;
    background-color: #f4f4f7;
    margin-bottom: 0.5rem;
    margin-left: 40px;
}

.home-second-ul {
    display: grid;
    padding: 0;
}

.home-second-li {
    padding: 3rem 0;
    /* box-shadow: 4px 4px #e6e4e4c0; */
}


/* ---------------------------add-task----------------------------------------------------------- */

.add-task-body {
    background-color: gray;
}

.add-task-container {
    width: 750px;
    min-height: 105rem;
    background-color: white;
    margin: 5rem auto;
    font-family: sans-serif;
    padding: 24px;
    margin-left: 15%;
}

.add-task-date {
    padding: 0 12%;

}

header {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
}

header img {
    margin-top: 4rem;
}

.add-task-header {}

.add-task-first-input {
    height: 5rem;
    width: 70%;
    font-size: 2.6rem;
    color: #2f2f2f;
    border-style: none;
}

.add-task-first-input:focus {
    outline: none;
    color: ;
}

/* span {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    margin-left: 9rem;
} */


span div p {
    font-size: 1.3rem;
    color: #5d5d5d;
    margin: 0;
    margin-left: 1rem;

}

.add-task-date-input {
    height: 3.5rem;
    width: 40%;
    font-size: 1.5rem;
    margin: 1rem;
    border-style: none;
}

.add-task-select-input {
    height: 3.7rem;
    width: 40%;
    font-size: 1.5rem;
    background-color: white;
    margin: 1rem;
    border-style: none;
}

/* -------------------------------------------------select tag----------------------------------------------------- */
select {
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
}

/* For IE10 */
select::-ms-expand {
    display: none;
}

.add-task-tasks-div {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    display: flex;
    width: 400px;
    flex-wrap: wrap;

}



.add-task-tasks-div input[type="radio"] {
    opacity: 0.01;
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
}



.add-task-tasks-div input[type="radio"]:checked+label {
    background: gray;

}


.add-task-tasks-div input[type="radio"]:checked+label {
    background-color: #bbb;
}

.add-task-tasks-div label {
    padding: 5px;
    border: 1px solid;
    cursor: pointer;
    z-index: 90;
    border-style: none;
    border: none;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    position: relative;
    height: 50px;
    width: fit-content;
    display: inline-flex;
    align-items: center;

}

.add-task-tasks-div label:nth-child(1) {
    background-color: #01bacc;
}

.add-task-tasks-div label:hover {
    background: #DDD;
}


/*---------------------------------------------------------------task-list--------------------------------------------*/

.task-list-body {
    background-color: gray;
}

.task-list-container {
    width: 750px;
    min-height: 60rem;
    background-color: #01bacc;
    margin: 10rem auto;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.task-list-header {
    display: flex;

}

.task-list-head-arrow-img {
    margin: 0 3rem;
    margin-top: 5rem;
}

.task-list-ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}